<style>
.myheader{		
	/* font settings*/
		  font-family: monospace;
		  text-decoration: none;
		  
		/* color settings*/
		  background-color: #E2E1FF;
		  color: #cc99c7;
		  

		/* margin settings*/
	 
		  
		/* align settings*/

		  display: flex;
		  justify-content: center;
		  align-items: center;
		  text-align: center;
		   /*dimensions*/
			 
}
.name {
				/* font settings*/
				font-size: 40px;
				font-family: monospace;
				font-stretch: 20px;
				
				/* color settings*/
				color: white;
				background-color: #CF7795;
	  
			  /* margin settings*/
				margin-bottom: 0px;	 
				
			  /* align settings*/
	  
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				   
				
			   /*dimensions*/
			   height: 90px;
}
.info {
			/* font settings*/
			font-size: 15px;
			font-family: monospace;
			
			/* color settings*/
			color: white;
			background-color: #E5B7D0;
  
		  /* margin settings*/
			margin-top: 0px;
			margin-bottom: 0px;	 
			
		  /* align settings*/
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
  
			
		   /*dimensions*/
		   height: 60px;	
}
	nav {
		font-family: monospace;
		text-decoration: none;
		
	  /* color settings*/
		  background-color: #FCEAEF;

	  /* margin settings*/
		   margin-top: 0px;
		
	  /* align settings*/

		display: flex;
		justify-content: space-between = 30px;
		justify-content: center;
		align-items: center;
		text-align: center;

		/* padding*/
		padding: 10px;
	}

	a{
		width: 100px;
		/* font settings*/
		  font-size:18px;
		  font-family: monospace;
		  text-decoration: none;
		  
		/* color settings*/
		  color: #52287B;
		  

		/* margin settings*/
	 
		  
		/* align settings*/

		  display: flex;
		  justify-content: center;
		  align-items: center;
		  text-align: center;
			 
		  
		 /*dimensions*/
		 width: 100px;
		 
	}
	

	



	

	

}       
</style>